.button{
-fx-background-color:  #05071F;
-fx-text-fill: #e7e5e5;
 /* #2A73FF */
}
.button:hover{
-fx-background-color: #10165F;
}
.button:pressed{
-fx-background-color: #1620A1;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
-fx-background-color: transparent;
}