.button{
/*-fx-background-color:  #05071F;*/
-fx-text-fill: #faa443;
 /* #2A73FF */
}
.label{
-fx-text-fill: #faa443;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
-fx-color: #faa443;
}
.text-field{
/*-fx-prompt-text-fill: #faa443;*/
-fx-text-fill: black;
}