.button{
/*-fx-background-color:  #05071F;*/
-fx-text-fill: #faa443;
 /* #2A73FF */
}
.label{
-fx-text-fill: #faa443;
}
.scroll-bar:vertical .thumb{
-fx-background-color: linear-gradient(transparent,#533f3f);
-fx-border-radius: 6px;
}
.scroll-bar:horizontal .thumb{
-fx-background-color: linear-gradient(transparent, #533f3f);
-fx-border-radius: 6px;
}
.scroll-bar:horizontal .thumb:hover, .scroll-bar:vertical .thumb:hover{
/*-fx-background-color: black;*/

}
.text-field{
/*-fx-prompt-text-fill: #faa443;*/
-fx-text-fill: black;
}
.hyperlink{
-fx-text-fill: #faa443;
}
.root{
-fx-background-color: rgba(0, 0, 0, 0.9);
-fx-background-radius: 10;
}
